
<%- include ("partials/header") %>
    
<div class="container landing">
    <div class="jumbotron bg-dark" style="color: aqua;">
        <h1>This is landing Page!!!</h1>
        <a class="btn btn-lg btn-info" href="/campgrounds">View all campgrounds</a>

    </div>
    
</div>

<%- include ("partials/footer") %>