
.img-thumbnail img{
    width: 100%;
}
.img-thumbnail{
    padding: 0;
}
.img-thumbnail .caption-full{
    padding: 9px;
}
.regform{
    width: 50%;
    margin: auto;
}
.landing{
    text-align: center;
    margin-top: 10%;
}